<?xml version="1.0"?>
<launch>
<!--Spwan Objects for Object Detection-->
  <include file="$(find mir_gazebo)/launch/includes/spawn_sdf.launch">
        <arg name="robot_name" value="coke_can" />
        <arg name="x" value="3.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="0.0" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0.0" />
        <arg name="sdf_robot_file" value="$(find mir_gazebo)/models/coke_can/model.sdf" />
  </include>

    <include file="$(find mir_gazebo)/launch/includes/spawn_sdf.launch">
        <arg name="robot_name" value="coke_can2" />
        <arg name="x" value="3.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="2.0" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0.0" />
        <arg name="sdf_robot_file" value="$(find mir_gazebo)/models/coke_can/model.sdf" />
  </include>
  
</launch>